* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background 0.5s ease;
}

.field-name,
.field-email,
.field-password,
.field-finish {
    position: absolute;
    background-color: rgb(176, 176, 176);
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    transition: all 0.5s ease;
}

.field-name i,
.field-email i,
.field-password i,
.field-finish i {
    padding: 10px;
    cursor: pointer;
}

.field-name input,
.field-email input,
.field-password {
    padding: 10px 14px;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    flex: 1;
}

.innactive {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50px -50px);
}

.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50px -50px);
}